*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --darkest-grey: rgb(25, 25, 25);
    --darker-grey: rgb(50, 50, 50);
    --darker-grey-2: rgb(75, 75, 75);
    --dark-grey: rgb(100, 100, 100);
    --light-grey: rgb(125, 125, 125);
    --lighter-grey: rgb(150, 150, 150);
    --lighter-grey-2: rgb(175, 175, 175);
    --lightest-grey: rgb(200, 200, 200);

    --color-1: #4a4e69;
    --color-2: #22223b;
    --color-3: #9a8c98;
    --color-4: #c9ada7;
}

body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color-1);
    background-color: #fff;

}
/* ...................................... */


/* The sign in  and sign up pages............ */
main{
    min-height: 70vh;
    max-width: 90vw;
    margin: auto;
    padding: 25px;

    border-radius: 2px;

    border: 8px solid var(--color-2);

}

h1{
    text-align: right;
    background-color: var(--color-3);
    color: var(--color-2);
    border-radius: 50%;
    height: 8rem;
    aspect-ratio: 1;
    line-height: 10rem;
}

/* the forms ................................ */
.app-form{
    display: flex;
    flex-direction: column;  
}
.app-form div{
    margin: 10px 0;
}
label{
    color: var(--color-1);
}

input[type=text], input[type=password], input[type=email]{
    background-color: transparent;
    color: #000;
    padding: 8px;
    border: none;
    border-bottom: 2px solid var(--color-1);
    outline: none;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
}

.btn{
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #464D77;
    font-weight: 600;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    max-width: 60%;
    min-width: 60%;
    margin: 25px auto auto auto;
}

.btn:active, .btn:hover{
    background-color: #8a477c;
}

#forgot-passwd, .account, .account a{
    padding: 10px;
    font-size: small;
    text-decoration: none;
}

#forgot-passwd, .account a{
    color: var(--color-4);
    font-weight: 900;
}

#forgot-passwd{
    margin: 0 0 20px 0;
}
.account{
    padding: 10px;
    margin: 40px 0;
    text-align: center;
}

.add-icons{
    display: flex;
    position: relative;
}

.login-icons{
    font-size: 0.8rem;
    position: absolute;
    left: 280px;
    top: 10px;
   
} 

/* ........................................... */







.inform{
    display: none;
    font-size: 10px;
    color: rgb(177, 14, 14);
    font-family: 'Trebuchet MS', sans-serif;
}


.fa-info{
    font-size: 1rem;
    padding-right: 5px;
    color: rgb(177, 14, 14);
}

/* ........................................... */



